/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --color1: #687DAC;
  --color2: #D2E0EE;
  --color3: #F2E3D2;
  --offWhite: #f4f4f4;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Default colors for the application. */
.color1 {
  background-color: var(--color1);
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4
{
  background-color: gray;
}

.color-white {
  background-color: white;
}

.off-white {
  background-color: var(--offWhite);
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.60);
}

.text-dark-blue {
  color: #10136B; /* Replace with your preferred dark blue hex code */
}

.text-light-blue {
  color: var(--color2);
}

/* Loading spinner text animation */
.breathing-text {
  animation: breathing 2s ease-in-out infinite;
  color: #10136B;
}

@keyframes breathing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Define custom styles */

/* Navbar styling */
.Navbar .nav-link {
  font-weight: bold; /* Bold text */
  font-size: 1.3rem; /* Larger font size */
  margin: 0 0.3rem 0 0.3rem;
}

.Navbar .nav-link:hover {
  color: #10136B;
}

.Navbar .nav-link:active {
  color: #10136B;
}

/* landing page */
.landing-header {
  color: #10136B; /* White text */
  font-size: 3rem; /* Larger font size */
}

.landing-background {
  background: url("images/landing/personnel-on-flightline.jpg") fixed;
  background-size: cover;
    -webkit-background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: inherit;
}

.hero-section {
  min-height: 80vh; /* Full viewport height */
  color: white;
}

.hero-title {
  font-size: 6.5rem;
}

.hero-subtitle {
  font-size: 1.95rem;
}

.landing-info-card {
  width: 45%;
  min-Height: 23vh;
  max-Height: 45vh;
}

.landing-info-card-icon {
  max-width: 25vh;
  padding-bottom: 5%;
}

/* Our Promise section */
.our-promise-background {
  background: url("images/landing/C130-day.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.our-promise-header {
  background-color: #ffffff; /* White background */
  width: 100%; /* Full width */
  border-radius: 50px 50px 0 0; /* Rounded corners for the top */
}

.our-promise-title {
  font-size: 4rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.our-promise-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 50vh;
  border-radius: 50px;
}

/* About section */
.about-section {
  background-color: #ffffff; /* White background */
  width: 100%; /* Full width */
}

/* Stay Proactive and Stay Private sections */
.stay-proactive-background {
  background: url("images/landing/staying-proactive.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.stay-proactive-title {
  font-size: 4rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.stay-proactive-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.3); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 75vh;
}

/* Our Mission section */
.our-misison-background {
  background: url("images/landing/image-of-F22-pilot.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.our-mission-tilte {
  font-size: 3.5rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.our-mission-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.3); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 75vh;
}

/*Features Cards section */
.features-section {
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  width: 100%; /* Full width */
}

.feature-card {
  max-width: 95vw; /* Smaller width for more compact cards */
  min-height: 550px; /* Shorter height */
  transition: transform 0.2s;
}

.feature-card:hover {
  transform: translateY(-3px); /* Slight lift on hover */
}

.feature-image {
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0; /* Rounded corners for the top */
  min-height: 150px;
}

/* Title styling for feature cards */
.features-title {
  font-size: 1.9rem; /* Smaller font size */
  min-height: 25%;
  color: #333; /* Darker text for readability */
}

/* Text styling for feature descriptions */
.feature-text {
  font-size: 1.2rem; /* Smaller font size */
  color: #51515f; /* Softer text color */
  min-height: 50%;
  max-height: 10vw;
  text-align: center; /* Center text */
}

/* Button styling for feature interactions */
.feature-button {
  margin-top: 5px;
}

/* FAQ page */
.faq-background {
  background-color: var(--offWhite);
  background-size: cover;
  min-height: 80vh;
}

/* Question Compass page */
.question-compass-background {
  background-color: var(--offWhite);
  background-size: cover;
  min-height: 85vh;
}

.question-compass-section {
  border-radius: 10px;
  minHeight: 80vh;
}

/* Ask a Doc page */
.ask-a-doc-background {
  background-color: var(--color1);
  background-size: cover;
  min-height: 80vh;
}

/* Feedback page */
.feedback-background {
  background-color: var(--offWhite);
  background-size: cover;
  min-height: 80vh;
}

/* Privacy Policy page */
.privacy-policy-background {
  background-color: var(--color1);
  background-size: cover;
  min-height: 80vh;
}

/* Medical Staff pages */
.med-staff-background {
  background-color: var(--offWhite);
  background-size: cover;
  min-height: 80vh;
}
