/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --color1: #687DAC;
  --color2: #D2E0EE;
  --color3: #F2E3D2;
  --offWhite: #f4f4f4;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Default colors for the application. */
.color1 {
  background-color: var(--color1);
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4
{
  background-color: gray;
}

.color-white {
  background-color: white;
}

.off-white {
  background-color: var(--offWhite);
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50);
}

.text-dark-blue {
  color: #10136B; /* Replace with your preferred dark blue hex code */
}

.text-light-blue {
  color: var(--color2);
}

/* Define custom styles */

/* Navbar styling */
.Navbar .nav-link {
  font-weight: bold; /* Bold text */
  font-size: 1.4rem; /* Larger font size */
}

.Navbar .nav-link:hover {
  color: var(--color1);
}

.Navbar .nav-link:active {
  color: #10136B;
}

/* landing page */
.landing-background {
  background: url("images/landing/personnel-on-flightline.jpg") fixed;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
}

.hero-section {
  min-height: 80vh; /* Full viewport height */
}

.hero-title {
  font-size: 8vh;
  font-weight: 700;
  color: #ffffff;
}

.hero-subtitle {
  font-size: 3.5vh;
  font-weight: 400;
  color: #ffffff;
}

.landing-info-card {
  width: 45%;
  min-Height: 23vh;
  max-Height: 45vh;
}

.landing-info-card-icon {
  max-width: 25vh;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
  padding-bottom: 5%;
}

/* About section */
.about-section {
  background-color: #ffffff; /* White background */
  width: 100%; /* Full width */
  border-radius: 50px 50px 0 0; /* Rounded corners for the top */
}

/* Stay Proactive and Stay Private sections */
.stay-proactive-background {
  background: url("images/landing/staying-proactive.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.stay-proactive-title {
  font-size: 4rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.stay-proactive-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.3); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 75vh;
}

/* Our Mission section */
.our-misison-background {
  background: url("images/landing/image-of-F22-pilot.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.our-mission-tilte {
  font-size: 3.5rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.our-mission-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.3); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 75vh;
}

/* Our Promise section */
.our-promise-background {
  background: url("images/landing/C130-day.jpg");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  color: white;
  flex-direction: column;
}

.our-promise-title {
  font-size: 4rem; /* Larger font size */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
}

.our-promise-section {
  font-size: 1.5rem; /* Smaller font size */
  background: rgba(0, 0, 0, 0.4); /* Dark overlay for text readability */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.50); /* Text shadow for readability */
  min-height: 50vh;
  border-radius: 50px;
}

/*Features section */
.features-section {
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  width: 100%; /* Full width */
}

/* Individual feature card styling */
.feature-card {
  max-width: 95vw; /* Smaller width for more compact cards */
  min-height: 550px; /* Shorter height */
  transition: transform 0.2s;
}

.feature-card:hover {
  transform: translateY(-3px); /* Slight lift on hover */
}

/* Image styling within feature cards */
.feature-image {
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0; /* Rounded corners for the top */
  min-height: 150px;
}

/* Title styling for feature cards */
.features-title {
  font-size: 2.5vh; /* Smaller font size */
  min-height: 25%;
  color: #333; /* Darker text for readability */
  font-weight: 700;
  margin: 8px 0;

}

/* Text styling for feature descriptions */
.feature-text {
  font-size: 1.6vh; /* Smaller font size */
  color: #51515f; /* Softer text color */
  min-height: 50%;
  max-height: 10vw;
  text-align: center; /* Center text */
}

/* Button styling for feature interactions */
.feature-button {
  margin-top: 5px;
}

  @media (max-width: 768px) {
    .medgrp {
      display: none;
    }
.medgroup{
  display: none;
}
    .stay-proactive,
    .stay-private {
      text-align: center;
      padding: 10px; /* Adjust padding for smaller screens */
      margin-bottom: 20px; /* Add space between the text sections */
      max-width: 100%; /* Ensure text sections use full width */
    }

    .stay-proactive h2,
    .stay-private h2 {
      font-size: 24px; /* Smaller heading font size for readability on mobile */
    }

    .stay-proactive p,
    .stay-private p {
      font-size: 14px; /* Reduce font size for smaller screens */
    }
  }

  /* Styling for the Mission Section */
  .mission-section {
    width: 1676px;
    height: 988px;
    position: relative;
  }

  .rectangle {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
  }

  .stay-proactive,
  .stay-private {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;

    width: 500px; /* Reduced width */
    height: auto; /* Adjust height automatically based on content */
    position: absolute;
    color: black;
    font-size: 18px; /* Smaller font size */
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400; /* Adjusted font weight for readability */
    word-wrap: break-word;
  }

  .stay-proactive {
    left: 930px;
    top: 54px;
  }

  .stay-private {
    left: 930px;
    top: 463px;
  }

  .stay-proactive h2,
  .stay-private h2 {
    color: rgba(15.81, 18.83, 106.57, 0.98);
    font-size: 40px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .medgrp {
    width: 672px;
    height: auto;
    flex-shrink: 0;
    margin-left: 30px;
    position: absolute;
    left: 83px;
    top: 89px;
  }

.faq-background {
  background-color: var(--color2);
  background-size: cover;
  min-height: 80vh;
}

.question-compass-background {
  background-color: var(--color3);
  background-size: cover;
  min-height: 80vh;
}

.ask-a-doc-background {
  background-color: var(--color1);
  background-size: cover;
  min-height: 80vh;
}

.privacy-policy-background {
  background-color: var(--color1);
  background-size: cover;
  min-height: 80vh;
}

.med-staff-home-background {
  background-color: var(--offWhite);
  background-size: cover;
  min-height: 80vh;
}

